$primaryColor:  #0ca086;
form {
  display: flex;
  flex-direction: column;
  height: 80%;
}

.content {
  height: 245px;
  flex: 1 1 auto;

  input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid $primaryColor;
    font-size: 16px;
    outline: none;
    margin: 15px 0;
    width: 100%;
    &:focus {
      border-bottom: 2px solid #092d22;
    }
  }
}

.btn-submit {
  width: 100%;
  border: none;
  padding: 10px 25px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'Liberation Sans', sans, sans-serif;
  cursor: pointer;
  background-color: $primaryColor;
  &:disabled {
    background-color: #d3d3d3;
  }
}

.error {
  color: #dc143c;
  font-size: 12px;
  font-family: 'Liberation Sans', sans, sans-serif;
  margin: 2px 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}